@keyframes arrow-pointing {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(60%);
    }
    30% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(60%);
    }
    60%,100% {
        transform: translateY(0);
    }

}
