@font-face {
    font-family: Factoria-Bold;
    src: url('../fonts/Factoria-Bold.woff2');
}

@font-face {
    font-family: Factoria-Book;
    src: url('../fonts/Factoria-Book.woff2');
}

@font-face {
    font-family: Factoria-Medium;
    src: url('../fonts/Factoria-Medium.woff2');
}

@font-face {
    font-family: Hanley-Rough;
    src: url('../fonts/HanleyRough-Script.otf');
}

@font-face {
    font-family: Trend-Rought-Five;
    src: url('../fonts/TrendRoughSansFive.otf');
}

@font-face {
    font-family: Trend-Rought-One;
    src: url('../fonts/TrendRoughSansOne.otf');
}