.btn {
    color: $primary-color;
    background: transparent;
    border: 2px solid $primary-color;
    border-radius: 2rem;
    font-family: Factoria-Medium;
    padding: .5rem 3rem .7rem;
    font-size: 1.2rem;
    transition: background .3s, color .3s;

    &--light {
        border-color: $secondary-color;
        color: $secondary-color;

        &:hover {
            color: $dark-green;
        }
    }

    &--dark-green {
        border-color: $dark-green;
        color: $dark-green;

        &:hover {
            color: $dark-green;
        }
    }

    &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
    }
}