@font-face {
    font-family: Factoria-Bold;
    src: url('../fonts/Factoria-Bold.woff2');
}

@font-face {
    font-family: Factoria-Book;
    src: url('../fonts/Factoria-Book.woff2');
}

@font-face {
    font-family: Factoria-Medium;
    src: url('../fonts/Factoria-Medium.woff2');
}

// @font-face {
//     font-family: Factoria-Bold;
//     src: url('../../fonts/factoria/Factoria-Book.woff2');
// }

// @font-face {
//     font-family: Factoria-Bold;
//     src: url('../../fonts/factoria/Factoria-Book.woff2');
// }

// @font-face {
//     font-family: Factoria-Bold;
//     src: url('../../fonts/factoria/Factoria-Book.woff2');
// }